.navbar {
    /* background: linear-gradient(rgb(64, 224, 219) 30%, rgb(39 184 119) 100%); */
    padding: 0 3rem !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.dropdown-menu li {
    border-bottom: 1px solid #40e0db;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.nav-left h5 {
    color: #16d3ca;
    font-weight: 600;
    font-size: 2.25rem;
}

.navbar a, .bottom .btn, .btn-outline{
    color: #16d3ca !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    transition: color 0.3s ease;
    font-size: 1.125rem;
}

.navbar-nav .dropdown-item, .form-submit-btn {
    color: #fff !important;
}

.navbar a:hover {
    color: #16d3ca;
}

.nav-item {
    position: relative;
}

.nav-link {
    cursor: pointer;
}

.nav-item {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    background: transparent !important;
    padding: 0.5rem 0 !important;
    min-width: 180px;
    z-index: 99;
    top: calc(100% + 40px) !important;
    border: none !important;
}

.dropdown-item {
    display: block;
    padding: 0.6rem 1rem;
    color: #fff !important;
    white-space: nowrap;
    text-align: center;
    transition: background 0.3s ease;
}

.dropdown-item:hover {
    background: #16d3ca;
    color: #000 !important;
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.nav-right .btn, .nav-right .btn-outline, .bottom .btn, .btn-outline, .btn-subscribe {
    padding: 0.6rem 1.5rem !important;
    border-radius: 50px !important;
    border: 1px solid #fff!important;
    font-weight: 500 !important;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.nav-right .btn, .bottom .btn, .form-submit-btn {
    background: rgba(255, 255, 255, 0.2) !important;
}

.nav-right .btn:hover {
    background: rgba(255, 255, 255, 0.35);
}

.nav-right .btn-outline {
    background: none;
}

.nav-right .btn-outline:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* Footer */
.footer {
    background: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding-top: 5rem;
}

.footer h5,
.footer h6 {
    font-weight: 700;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #16d3ca;
}

.footer-bottom {
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 0.9rem;
    color: #aaa;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1400px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

/* HOME PAGE */
html, body {
  overflow-x: hidden !important;
}

body {
    color: #fff !important;
    font-family: 'Montserrat' !important;
    margin: 0 auto;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

/* HOME PAGE */
.row-centered {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 80px);
    position: relative;
}

.header h1 {
    font-size: 3.75rem;
    line-height: 1.1;
    font-weight: 700;
}

.header h1 span {
    color: #16d3ca;
    font-size: 3.75rem;
    line-height: 1.1;
    font-weight: 700;
}

.header h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.header h5 {
    font-size: 1rem;
    font-weight: 100;
}

.header-btn a {
    display: inline-block;
    color: #fff;
    padding: .5rem 2rem;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;

    border-radius: 50px;

    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 2px solid rgba(255, 255, 255, 0.9);

    box-shadow:
        inset 2px 2px 6px rgba(255, 255, 255, 0.8),
        inset -2px -2px 6px rgba(0, 0, 0, 0.25),
        0 6px 15px rgba(0, 0, 0, 0.35);

    transition: all 0.3s ease;
}

.header-btn a:hover {
    background: rgba(255, 255, 255, 0.45);
    border-color: #fff;
    transform: translateY(-3px);

    box-shadow:
        inset 2px 2px 8px rgba(255, 255, 255, 0.9),
        inset -2px -2px 8px rgba(0, 0, 0, 0.3),
        0 8px 18px rgba(0, 0, 0, 0.4);
}

.video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.accordion {
    --bs-accordion-color: rgb(255, 255, 255) !important;
    --bs-accordion-bg: transparent !important;
}

.accordion-item {
    border: none !important;
    color: #fff !important;
    font-size: 1rem;
    font-weight: 300;
    border-bottom: 1px solid #fff !important;
}

.accordion-body {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 1rem !important;
}

.accordion-button, .accordion-button:not(.collapsed) {
    color: #40e0db !important;
    background-color: transparent !important;
    box-shadow: none !important;
    font-size: 1.25rem !important;
    font-family: Montserrat;
    font-weight: 700;
    padding-left: 0 !important;
}

.accordion-item:last-child {
    border-bottom: none !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.dropdown h3, .cards h3, .insights h3 {
    text-align: center;
    font-size: 2.75rem;
    font-weight: 600;
}

.dropdown h1 {
    color: #00978f;
    text-align: center;
    font-size: 4rem;
    margin: 0 auto;
}

.dropdown h6 {
    font-size: 1.5rem;
    text-align: center;
}

.accordion {
    width: 60%;
}

.dropdown img {
    float: right;
    max-width: 100%;
    box-shadow: 13px 1rem 1rem 6px rgba(0, 0, 0, 0.15) !important;
}

.cards, .insights {
    padding: 10rem 10rem;
}

.cards .row,
#insightsCarousel .row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.cards .card, .insights .card {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 450px;
    background: linear-gradient(rgb(64, 224, 219) 70%, rgb(47, 219, 142) 100%);
    color: #000;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: none;
}

.cards .card img, .insights .card img {
    height: 250px;
    object-fit: cover;
    width: 100%;
}

.cards .card-body, .insights .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cards .col-12, .insights .col-12 {
    flex: 1;
    min-width: 250px;
    display: flex;
}

.card-body {
    padding: 1.5rem;
}

.card h4 {
    color: #000;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0rem;
}

.card p {
    font-size: 1rem;
    color: #000;
    text-align: left;
}

.card a {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
    font-style: italic;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}

.differentiation h1 {
    font-weight: 700;
    font-size: 2.75rem;
}

.differentiation h3 {
    font-size: 1rem;
}

.differentiation a {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 50px;
    text-decoration: none;
}

.line {
    border: 1px solid;
    width: 60%;
}

.logos{
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logos-wrapper {
  transform: translateX(30px);
}

.logos-slider {
  display: flex;
  align-items: center;
  gap: 80px;
  will-change: transform;
}

.carousel-control-prev {
    left: -10% !important;
}

.carousel-control-next {
    right: -10% !important;
}

.logos-slider img {
    max-height: 60px;
    object-fit: contain;
}

.insights .card {
    background: linear-gradient(#40e0db 10%, rgb(47, 219, 142) 60%);
}

.insights p {
    padding: 0rem 5rem 0rem 0rem;
    color: #fff;
}

/* CONTACT PAGE */
.banner {
    text-align: center;
    margin-top: 80px;
    padding: 5rem 0rem 0rem 0rem;
}

.banner-title {
    font-size: 7rem;
    color: #40e0d0;
    font-weight: 700;
    margin-bottom: 1rem;
}

.banner-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 600px;
    margin: 0 auto;
}

.contact-content {
    background: #000;
    padding-bottom: 4rem;
}

.form label {
    display: none;
}

.form-control {
    padding: 1rem !important;
    background: transparent !important;
    border: 1px solid #40e0db !important;
    color: #40e0db !important;
}

::placeholder {
    color: #40e0db !important;
    opacity: 1;
}

.form-control:focus {
    color: #40e0db !important;
    box-shadow: 0 0 10px rgba(64, 224, 219, 0.6);
}

/* Dropdown */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1rem 2.5rem 1rem 1rem !important;
    border: 1px solid #40e0db !important;
    background: transparent !important;
    color: #40e0db !important;
    width: 100%;
    cursor: pointer;
}

.custom-select-wrapper::after {
    content: "\25BC";
    font-size: 1.5rem;
    color: #40e0db;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.form-submit-btn {
    background: transparent !important;
    border: 1px solid #40e0db !important;
    border-radius: 50px !important;
    padding: .5rem 2rem !important;
}

.form-submit-btn:hover {
    background: #2b9f94 !important;
    border: 1px solid #fff;
    transform: translateY(3px);
}

.form-submit-btn:active {
    transform: translateY(1px);
}

@media (max-width: 992px) {
  .logos-wrapper {
    transform: translateX(15px);
  }
  .logos-slider img {
    max-height: 45px;
    gap: 50px;
  }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-left {
        margin-bottom: 1rem;
    }

    .nav-right {
        margin-left: auto;
    }

    .banner {
        margin-top: 100px;
        padding: 3rem 1rem;
    }

    .banner-title {
        font-size: 2.2rem;
    }

    .banner-subtitle {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
  .logos-wrapper {
    transform: translateX(5px); /
  }
  .logos-slider img {
    max-height: 35px;
    gap: 30px;
  }
}



